@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

/* colors
#03161D zwart
#f8dec5 achtergrond
#342117 tekst
#f8c059 geel 1
#d99933 geel 2
*/

div.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

body {
    font-family: 'IBM Plex Sans';
    font-size: large;
}

.content {
    margin-top: 100px;
    /* Adjust this value to match the height of your header */
}

/* Navbar alligned top , float to right side of the page, and some margin */
.navbar {
    font-family: 'IBM Plex Sans';
    font-weight: 500;
    font-size: 30px;
    text-decoration: none;
}

.navbar.navbar-expand-lg {
    background-color: #f8dec5;
}

.nav-link.me-3 {
    color: #03161D;
}

/* Changed the dimensions of the logo */
.logo {
    width: 120px;
    margin-left: 10px;
}

body {
    background-color: #f8dec5;
}

h1 {
    font-family: 'IBM Plex Sans';
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.02rem;
    color: #03161D;
    line-height: 1;
}

h4 {
    font-family: 'Roboto Condensed';
    font-weight: 600;
    color: #03161D;
    line-height: 0.8;
}


h3 {
    font-family: 'Roboto Condensed';
    font-weight: 300;
    color: #03161D;
    line-height: 0.8;
}

/* button inside the navbar */
.btn.btn-warning.d-flex.align-items-center {
    font-family: 'IBM Plex Sans';
    font-size: 2rem;
    font-weight: 700;
    color: #03161D;
}

/* button on the page itself */
.btn.btn-warning.mt-4.d-flex.align-items-center {
    font-family: 'IBM Plex Sans';
    font-size: 2rem;
    font-weight: 700;
    color: #03161D;
}

.btn-warning {
    --bs-btn-color: #000;
    --bs-btn-bg: #f8c059;
    --bs-btn-border-color: #03161D;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d99933;
    --bs-btn-hover-border-color: #d99933;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #f8c059;
    --bs-btn-active-border-color: #f8c059;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8c059;
    --bs-btn-disabled-border-color: #f8c0597;
    border-width: 2px;
    ;
}

.btn.btn-warning.submit {
    font-family: "IBM Plex Sans";
}

.btn.btn-warning.reset {
    font-family: "IBM Plex Sans";
}


#leftside {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

#rightside {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
}


img.wizard {
    width: 440px;
}

.linkje {
    text-decoration: none;
}

img.resultpicture {
    width: 30rem;
    border-radius: 2rem;
}

img.pijl {
    width: 10rem;
}